[Unit]
Description = isucon8 qualifier webapp in go

[Service]
WorkingDirectory=/home/isucon/torb/webapp/go
EnvironmentFile=/home/isucon/torb/webapp/env.sh

ExecStart = /bin/sh -c 'exec /home/isucon/torb/webapp/go/torb | /home/isucon/2toolForMeasure/notify_slack -channel notify_app_log'

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
